/* Basic document styles */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height:100%;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    min-height:100vh;
    text-align: center;
    background-color: #2aac69;
  }

  /* Start ID styles */

  #header, #footer{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  header {
    justify-content: center;
    height: 10vh;
  }

  h1 {
    font-family: 'Amatic SC', cursive;
  }

  footer {
    justify-content: center;
    height: 5vh;
  }

  #container {
    display: flex;
    width: 100%;
    height: 85vh;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
  }

  /* Left side: Main game text and game buttons */

  #mainGame {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 60%;
  }

  #gameText {
    width: 100%;
    height: 75%;
    border: 1px solid white;
  }

  #textBg {
    text-align: left;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
  }

  #gameButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
  }

  #mainButtons {
    width: 50%;
  }

  #attackButtons {
    width: 50%;
  }

  /* Right side top: Character Status Box */

  #status {
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  /* Right side bottom: Character Inventory and Weapon Stats */

  #stats {
    padding: 2px;
    width: 100%;
    height: 50%;
    border: 1px solid white;
  }

  #stuff {
    padding: 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    border: 1px solid white;
  }

  #inventory {
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  #weapon {
    padding: 2px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }