/* Basic document styles */

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    height:100%;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    display:flex; 
    flex-direction: column; 
    justify-content: center;
    min-height:100vh;
    text-align: center;
    background-color: #adb4cb;
    background-image: url("images/bgv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Start ID styles */

  #header, #footer{
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  header {
    justify-content: center;
    height: 10vh;
  }

  h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
  }

  footer {
    justify-content: center;
    height: 5vh;
    font-size: 1.5rem;
  }

  #container {
    display: flex;
    width: 100%;
    height: 85vh;
    flex-direction: row;
    justify-content: center;
  }

  /* Left side: Main game status, text, and game buttons */
  #charStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 25%;
    height: 100%;
  }

  #stats {
    height: 40%;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column-reverse;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 5%); 
  }

  #charPic {
    height: 60%;
    width: 100;
    padding: 0px;
  }

  img {
    height: 100%;
    width: auto;
  }

  #mainGame {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
  }

  #gameText {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
  }

  #textBg {
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 5%); 
  }

  #gameButtons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    height: 25%;
  }

  #mainButtons {
    width: 50%;
  }

  #attackButtons {
    width: 50%;
  }

  .btn {
    border: none;
    border-radius: 10px;
    width: 125px;
    height: 40px;
    background-color: #4387b8;
    /*box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%); */
  }

  /* Right side bottom: Character Inventory and Weapon Stats */

  #stuff {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
  }

  #inventory {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 5%);
  }

  #weapon {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 5%);
  }

  .statBars {
    display: flex;
    flex-direction: row;
  }